:root {
  --clr-dark: #4d4a88;
  --clr-inactive: #9b98cf;
  --clr-light: #fdfdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-light);
}

button {
  font-family: inherit;
  cursor: pointer;
}

label,
input {
  font-family: inherit;
}

/* HEADER */
header {
  padding: 1rem 1rem 0;
  background: var(--clr-dark);
}
nav ul {
  display: flex;
  gap: 0.2rem;
}
nav ul li {
  list-style-type: none;
}
nav ul li button {
  padding: 0.8rem 1rem;
  background: var(--clr-inactive);
  border: none;
  color: var(--clr-light);
  cursor: pointer;
}
nav ul li button:hover {
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
}
nav ul li button.active {
  background: var(--clr-light);
  color: var(--clr-dark);
}
nav ul li button.active:hover {
  background: var(--clr-dark);
  color: var(--clr-light);
}

/* PALINDROME */
.palindrome-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 3rem;
  background: #fff;
}

.palindrome-input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  outline-color: #3d90a4;
}

.palindrome-title {
  font-size: 4rem;
  font-weight: 400;
  color: #3d90a4;
  text-align: center;
  line-height: 1;
}

.palindrome-result {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 580px) {
  .palindrome-title {
    font-size: 3rem;
  }
  .palindrome-input {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .palindrome-result {
    font-size: 1.5rem;
  }
}

/* BUBBLE SORT */
.bubble-main {
  width: 95%;
  max-width: 800px;
  background: #fcfcfc;
}

.bubble-main > * {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #a5a4a4;
}

.bubble-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.bubble-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.bubble-form input {
  width: 300px;
  padding: 0.5rem 1rem;
  text-align: center;
}
.bubble-form button {
  padding: 0.5rem 1rem;
  background: #474747;
  color: #fff;
}

.bubble-array-box {
  text-align: center;
}
.bubble-array-box h2 {
  margin-bottom: 0.5rem;
  font-family: var(--font-display);
  font-size: 1.5rem;
}
.bubble-array-box p {
  font-size: 2rem;
}

.bubble-btn-long {
  font-size: 1.2rem;
  font-weight: 600;
  background: #474747;
  color: #fff;
}

.bubble-form button:hover,
.bubble-btn-long:hover {
  box-shadow: inset 0 0 0 1500px rgba(255, 255, 255, 0.2);
}

/* STACK */
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-box {
  position: relative;
  width: 80px;
  height: 20px;
  margin-bottom: 2px;
  border-radius: 5px;
  text-align: center;
  clip-path: polygon(100% 0, 78% 100%, 23% 100%, 0 0);
  background: tomato;
}

/* Table */
.stack-table {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.stack-table-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: burlywood;
}
.stack-table-leg {
  position: absolute;
  top: 20px;
  width: 20px;
  height: 80px;
  background: burlywood;
}
.stack-table-leg.left {
  left: 5px;
}
.stack-table-leg.right {
  right: 5px;
}
